@import "show";


.margin-top {
  margin-top: 2rem;
}

body {
  background: rgb(245, 245, 245);
}

h1, h2 {
  text-align: center;
  margin-top: 2rem;
  color: #422662;
}

.header {
  width: 100%;
  height: 200px;
  position: relative;
  margin-bottom: 5rem;
}

.hide {
  opacity: 0;
}

#addflux {
  position: absolute;
  right: 20px;
  top: calc( 50% - 25px);
  weight: 50px;
}

#addform {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 800px;
}
#fluxes {
  margin-bottom: 3rem;
}
