<li id="<%= article.id %>">
  <div class="content">
    <p><%= article.Title %></p>
    <div id="switchlu">
      <% if article.Lu == 0 %>
        <%= link_to "Marqué comme Lu", articles_marklu_path(id: article.id), :remote => true %>
      <% else %>
        <%= link_to "Marqué comme non Lu", articles_markpalu_path(id: article.id), :remote => true %>
      <% end %>
    </div>
  </div>
</li>
