
<div class="col-6">
  <div class="card">
    <div class="title">
      <h2><%= flux.Title %></h2>
    </div>
    <ul class="card-overflow" id="flux<%= flux.id %>">
      <% flux.articles.each do |article| %>
        <%= render 'articles/article', article: article %>
      <% end %>
    </ul>
  </div>
</div>
