<div class="wrapper">
  <%= react_component 'NewFlux'%>
  <div class="header">
    <div id="new-flux">
      <%= link_to 'New Flux', new_flux_path, remote: true %>
    </div>
  </div>
  <div class="container">
    <div class="row margin-top" id="fluxes">
      <%= render @fluxes %>
    </div>
  </div>
</div>
