<div class="wrapper">
  <div class="container">
    <h1> Welcome to the IdeeMatic RSS Reader!</h1>
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-8 ">
        <h2>Feel free to add your favorite news website:</h2>
        <%= render 'fluxes/form', flux: @flux %>
      </div>
    </div>
    <div class="row margin-top" id="fluxes">
      <% @fluxes.each do |flux| %>
        <%= render 'fluxes/show', flux: flux %>
      <% end %>
    </div>
  </div>
</div>
