<div class="wrapper">
  <div class="header">
  <%= react_component 'NewFlux'%>
  </div>
  <div class="container">
    <div class="row margin-top" id="fluxes">
      <%= render @fluxes %>
    </div>
  </div>
</div>
